*.pyc
*.swp
.coverage
.idea
.testrepository
.tox/*
.venv
cover/*
build/*
etc/manilaclient/manilaclient.conf*
subunit.log
python_manilaclient.egg-info
setuptools_git*.egg
setuptools_git*.egg
AUTHORS
ChangeLog
doc/source/manila_cli_output.rst.inc
